
@model IEnumerable<MvcPL.Models.LotViewModel>

@{
    ViewBag.Title = "Home";
}

@foreach (var lot in Model)
{
    <div class="col-md-12" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-3"></div>
                <div class="col-md-4">
                    @if (lot.Image != null)
                    {
                        <img src="@lot.Image" alt="@lot.Name">
                    }
                    else
                    {
                        <img src="~/Images/no_image.jpg" style="max-width:100%;" alt="@lot.Name">
                    }
                </div>

                <div class="caption col-md-4">
                    <h3>@lot.Name</h3>
                    <p>Current price: <span class="">@lot.Price</span></p>
                    <p>
                        <span class="label label-success">@lot.ExpirationTime</span>
                    </p>                        
                    <p>@Html.ActionLink("Details", "Details", "Auction", new { id = lot.Id }, new { @class = "btn btn-info" })</p>
                </div>                       
        </div>
    </div>
}